.countryInfoBlock{
    max-width:95%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    color: aliceblue;
}
.panelNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    background: rgb(40, 54, 73);
    width: 90%;
    height: 1%;
    border: solid 2px rgb(79, 209, 246);
    padding: 0.5% !important;
}
.ButtonCustom{
    display: flex;
    justify-content: center;
    width: auto;
    max-height: 100%;
    border-radius: 25px;
    background: rgb(55, 74, 100);
    cursor: pointer;
    padding: 0.3%;
}
.buttonLan{
  width: 45%;
  height: 2%;
  border-radius: 20px;
  background: rgb(40, 54, 73);
  padding: 1%;
  margin: 1%;
  cursor: pointer;
  color: aliceblue;
}
.butLanCol{
  width: 45% !important;
}
.blockMin{
display: flex;
flex-wrap: wrap;
}
.infoPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.6%;
    border-radius: 25px;
    background: rgb(40, 54, 73);
    padding: 1%;
    width: 65%;
    height: 70%;
    border: solid 2px rgb(79, 209, 246);
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(55, 74, 100);
    border-radius: 25px;
    padding: 1%;
}
.widthBlock{
    max-width: 98%;
    max-height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flagBlock{
    max-width: 60%;
    height: 30%;
    padding: 1%;
}
.flag{
    max-width: 100%;
    height: 60%;
    border-radius: 25px;
}
.coatOfArmsBlock{   
    margin-left: 5%;
    max-height: 22%;
    max-width: 23%;
}
.coatOfArms{
    max-height: 75%;
    max-width: 90%;
}
.infoBlock{
    width: 50%;
    height: 5%;
    padding: 1%;
}
.NewSpecBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.specBlock{
  margin-top: 1%;
  max-width: 100%;
  max-height: 10%;
}
.Rotate{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cardInfoTextHight{
  font-size: 18px;
  padding: 2px;
  text-align: center;
}
.cardInfoTextLow{
  color: rgb(79, 209, 246);
  font-size: 16px;
  padding: 2px;
}
@media (max-width: 1080px){
    .Rotate{
        flex-direction: column;
    }
    .infoPanel{
      width: 98%;
    }
    .infoBlock{
        width: 100%;
        padding: 0%;
    }
  }
  @media (max-width: 700px){
    .cardInfoTextLow{
        font-size: 14px;
      }
      .cardInfoTextHight{
        font-size: 16px;
        padding: 2px;
      }
  }
  @media (max-width: 600px){
    .cardInfoTextLow{
        font-size: 11px;
      }
      .cardInfoTextHight{
        font-size: 14px;
        padding: 2px;
      }
  }
  @media (max-width: 500px){
    .cardInfoTextLow{
        font-size: 8px;
      }
      .cardInfoTextHight{
        font-size: 12px;
        padding: 2px;
      }
      .infoPanel{
        margin-top: 6%;
    }
  }
  @media (max-width: 350px){
    .cardInfoTextLow{
        font-size: 6px;
      }
  }