body{
  height: 100%;
}
.PaginationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.CountryPanel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
}
.ListPanel{
  height:650px;
}
.Panel {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  max-height: 20%;
}
.bodyPanel{
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 70%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
}
.underPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  max-height: 80%;
  padding: 1%;
}
.FindPanel {
  margin-left: 20%;
  width: 40%;
  padding: 0.5%;
}
.minPan{
  display: flex;
  width: 95%;
  flex-direction: row;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]
  .MuiAutocomplete-input {
  background: #ffffff;
}
.defButton{
  width: 95%;
  height: 26.5px;
  border-radius: 25px;
  background: rgb(40, 54, 73);
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  cursor: pointer;
  margin-bottom: 1.2%;
}
.fixDefButton{
  width: 10%;
  height: 1%;
  padding: 0.6% !important;
}
.sortPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.activePan{
  margin-right: 42%;
}
.hide {
  display: none;
}
.activeBut{
background: rgb(55, 74, 100) !important;
}
.specBut{
  background: rgb(57, 69, 85);
}
.reset{
  background:rgb(62, 161, 188)
}
@media (max-width: 800px){
  .underPanel {
    width: 25%;
  }
  .defButton{
    height: 20px;
  }
}
@media (max-width: 660px){
  .Panel{
    flex-direction: column;
  }
  .FindPanel {
    margin-left: 0%;
    width: 90%;
  }
  .defButton{
    height: 15px;
  }
}
@media (max-width: 550px){
  .underPanel {
    max-height: 70%;
  }
}
@media(max-height:700px){
  .ListPanel{
    height:600px;
  }
}