body {
  margin: 0;
  background: rgb(87, 98, 114);
}
a {
  text-decoration: none;
}
.cardInfoTextHight{
  font-size: 18px;
  padding: 2px;
}
.cardInfoTextLow{
  color: rgb(79, 209, 246);
  font-size: 16px;
  padding: 2px;
}
